@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  direction: ltr;
}

.swiper-slide {
  height: auto !important;
}
.swiper-content {
  height: 100% !important;
}
.swiper-wrapper {
  margin-bottom: 60px;
}

.swiper-button-next {
  color: rgb(224 114 0) !important;
}
.swiper-button-prev {
  color: rgb(224 114 0) !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(224 114 0) !important;
}
